<!doctype html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'healthapp/css/nicepage.css' %}" media="screen">
    <link rel="stylesheet" href="{% static 'healthapp/css/Home-1.css' %}" media="screen">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script class="u-script" type="text/javascript" src="{% static 'healthapp/js/nicepage.js' %}" defer=""></script>
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700,700i">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <style>
      .u-text-palette-2-base .u-svg-link, .u-text-hover-palette-2-base:hover .u-svg-link,
      .u-button-style:hover > .u-text-hover-palette-2-base .u-svg-link,
      .u-button-style.u-button-style.active > .u-text-active-palette-2-base .u-svg-link,
      .u-text-hover-palette-2-base:focus .u-svg-link{
        fill: #292d33;
      }
      {% block style %}
      {% endblock %}
    </style>
  </head>
  <body>
  <div class="navbar-nav px-3 py-2 bg-dark text-white">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
            <h1>DigiAID</h1>
          </a>

          <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
            <li class="nav-item">
              <a href="{% url 'health-home' %}" class="nav-link {% block homeactive %} text-secondary {% endblock %}">
                <center><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                  <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5z"></path>
                </svg></center>
                Home
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'health-picker' %}" class="nav-link {% block pickactive %} text-secondary {% endblock %}">
                <center><i class="bi bi-cursor-fill"></i></center>
                Picker
              </a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
              <a href="{% url 'health-dashboard' %}" class="nav-link {% block dashactive %} text-secondary {% endblock %}">
                <center><i class="bi bi-speedometer2"></i></center>
                Dashboard
              </a>
            </li>
           <li class="nav-item">
              <a href="{% url 'health-tracker' %}" class="nav-link {% block calactive %} text-secondary {% endblock %}">
                <center><i class="bi bi-activity"></i></center>
                Calorie Tracker
              </a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a href="{% url 'health-appointment' %}" class="nav-link {% block appointmentactive %} text-secondary {% endblock %}">
                <center><i class="bi bi-table"></i></center>
                Appointments
              </a>
            </li>
            <li>
      {% if not user.is_authenticated %}
      <ul class="text-secondary navbar-nav mx-1 my-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <center><i class="bi bi-person-fill"></i></center>Join Us</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown">
            <li><a type="button" class="dropdown-item" aria-current="page" data-bs-toggle="modal" data-bs-target="#signupModal">Sign Up</a></li>
            <li><a type="button" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a></li>
          </ul>
        </li>
      </ul>
      {% else %}
      <ul class="navbar-nav mx-1 my-0">
        <li class="nav-item dropdown text-secondary">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <center><i class="bi bi-person-fill"></i></center>Welcome {{ user }}</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">

            <li>
              <a class="dropdown-item" href="{% url 'health-my-appt' %}">My Appointments</a>
            </li>
             <li>
              <form method="post" action="/logout/">
                {% csrf_token %}
                <button type="submit" class="dropdown-item">Log Out</button>
              </form>
            </li>
          </ul>
        </li>
      </ul>
       {% endif %}
            </li>
          </ul>
        </div>
      </div>
    </div>


    {% if messages %}
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }} alert-dismissible fade show mb-0" role="alert">
  <strong>Message: </strong> {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
    {% endif %}

  <!-- Signup Modal -->
<div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signupModalLabel">SignUp Here</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
        <form method="post" action="/signup/" class="needs-validation" novalidate>
          {% csrf_token %}
          <div class="mb-3">
            <label for="email" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              <div class="invalid-feedback">
                Please enter a valid email id.
              </div>
          </div>
          <div class="mb-3">
            <label for="name" class="form-label">UserName</label>
            <input name="name" type="text" class="form-control" id="name" required>
               <div class="invalid-feedback">
                Please enter an unique username.
              </div>
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input name="password" type="password" class="form-control" id="password" required>
             <div class="invalid-feedback">
                Please enter a password.
              </div>
          </div>
          <div class="my-4">
            <button type="submit" class="btn btn-secondary">Sign Up</button>
          </div>
        </form>
          </div>
      </div>

    </div>
  </div>
</div>

  <!-- Login Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Login Here</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
        <form method="post" action="/login/" class="needs-validation" novalidate>
          {% csrf_token %}
          <div class="mb-3">
            <label for="loginname" class="form-label">UserName</label>
            <input name="name" type="text" class="form-control" id="loginname" required>
               <div class="invalid-feedback">
                Please enter username.
              </div>
          </div>
          <div class="mb-3">
            <label for="loginpassword" class="form-label">Password</label>
            <input name="password" type="password" class="form-control" id="loginpassword">
            <div class="invalid-feedback">
                Please enter a password.
              </div>
          </div>
          <div class="my-4">
            <button type="submit" class="btn-secondary btn">Login</button>
          </div>
        </form>
          </div>
      </div>
    </div>
  </div>
</div>

  {% block body %}

  {% endblock %}

  <!-- FOOTER -->

  <div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0 text-muted">© 2022 DigiAID, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-instagram"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-linkedin"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><i class="bi bi-github"></i></a></li>
    </ul>
  </footer>
</div>

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

  <script>
      (function () {
  'use strict'
  // Fetch all the forms we want to apply custom Bootstrap validation styles to
  var forms = document.querySelectorAll('.needs-validation')
  // Loop over them and prevent submission
  Array.prototype.slice.call(forms)
    .forEach(function (form) {
      form.addEventListener('submit', function (event) {
        if (!form.checkValidity()) {
          event.preventDefault()
          event.stopPropagation()
        }
        form.classList.add('was-validated')
      }, false)
    })
})()
  </script>

    {% block js %}

  {% endblock %}

  </body>
</html>