{% extends 'base.html' %}

{% block title %} Exercises for {{ type }} {% endblock %}
{% block body %}
<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Recommended Exercises</h1>
        <p class="lead text-muted">Below exercises are recommended for {{ type }}.</p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

      {% for exercise in exercises %}
        <div class="col">
          <div class="card shadow-sm">
            <img src="{{ exercise.image }}" class="bd-placeholder-img card-img-top" width="100%" height="225">
            <div class="card-body">
              <h2>{{ exercise.name }}</h2>
              <p class="card-text">{{ exercise.desc }}</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a href="{{ exercise.link }}" class="btn btn-sm btn-outline-secondary">Walkthrough on YT</a>
                </div>
                <small class="text-muted">Calorie burn: {{ exercise.cal_bun }} per/min</small>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

</main>
{% endblock %}