{% extends 'base.html' %}

{% block title %} {{ request.user }} - Appointments {% endblock %}

{% block body %}

<div class="container">
    <h2>Showing Appointments for {{ request.user.username }}</h2>
    {% if my_appt %}
{% for appt in my_appt %}
<div class="h-100 p-5 bg-light border rounded-3">
  <h2>{{ appt.full_name }}</h2>
  <p>{{ appt.desc }}</p>
</div>
{% endfor %}
    {% else %}
    <p class="text-muted">You do not have any previous appointments!</p>
    {% endif %}
</div>
{% endblock %}
